<% provide(:title, t(".about") )%>

<div class="page-header">
  <h1><%= t "layouts.header.about" %></h1>
</div>
<div class="row">
  <div class="span9">
    <%= image_tag("grandesvillasviews.jpg", class: "about-img") %>

    <p> <strong>Grandes Villas</strong> <%= t ".aboutintro" %></p>
    <p> <%= t ".aboutbody" %> </p>

    <p class="lead"> <%= t ".ourmission" %> </p>
    <p> <%= t ".satisfy" %></p>

    <p class="lead"> <%= t ".corpv" %> </p>
    <h4 class="valores center"><%= t ".privacy" %> &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; <%= t ".respon" %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= t ".rely" %>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <%= t ".compromise" %> </h4>
  </div>
  <div class="span3">
    <%= link_to image_tag("about-side.jpg"), contact_path %>
  </div>
</div>

