<div class="contact-service-form">
  <h3><%= t ".inquire" %> <%= t "layouts.header.services" %></h3>
  <%= form_for  Message.new, :validate => true,
                :html => { :class => 'form-horizontal' } do |f| %>
      <% if Message.new.errors.any? %>
          <div id="errorExplanation">
            <h2><%= pluralize(Message.new.errors.count, "error") %> prohibited this form
              from being saved:</h2>
            <ul>
              <% Message.new.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="control-group">
        <%= f.label :name, t("messages.new.name"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :tlf, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :tlf %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :content, t("messages.new.msg"), class: "control-label" %>
        <div class="controls">
          <%= f.text_area :content, :rows => 5 %>
        </div>
      </div>
      <div class="actions center">
        <%= f.submit t("messages.new.send"), class: "btn btn-warning" %>
      </div>
  <% end %>
</div>
