<div class="contact-service-form">
  <%= simple_form_for new_message, :validate => true,
                      :html => { :class => 'form-horizontal widget-form' } do |f| %>
      <%= f.input :name %>
      <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
      <%= f.input :tlf %>
      <%= f.input :email %>
      <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
      <div class="actions center">
        <%= f.submit t("messages.new.send"), class: "btn btn-warning" %>
      </div>
  <% end %>
</div>
