<div class="contact-villa-form">
  <h3><%= t ".inquire" %> <%= @villa.name %></h3>
  <%= simple_form_for  @message, :validate => true,
                :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :name %>
      <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
      <%= f.input :tlf %>
      <%= f.input :email %>
      <%= f.input :dates %>
      <%= f.input :adults %>
      <%= f.input :kids %>
      <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
      <%= f.input :villaname, :input_html => { :value => "#{@villa.name}" },
                  :wrapper_html => { :class => 'nickname' } %>
      <div class="actions center">
        <%= f.submit t(".send"), class: "btn btn-info" %>
      </div>
  <% end %>
</div>
