<div class="contact-villa-form">
  <h3><%= t ".inquire" %> <%= @villa.name %></h3>
  <%= form_for  :messages,
                :html => { :class => 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :name, t(".name"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :tlf, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :tlf %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :dates, t(".dates"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :dates %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :adults, t(".adults"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :adults %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :kids, t(".kids"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :kids %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :content, t(".msg"), class: "control-label" %>
        <div class="controls">
          <%= f.text_area :content, :rows => 5 %>
        </div>
      </div>
      <div class="actions center">
        <%= f.submit t(".send"), class: "btn btn-info" %>
      </div>
  <% end %>
</div>
