<div class="contact-service-form">
  <h3><%= t ".inquire" %> <%= t "layouts.header.services" %></h3>
  <%= simple_form_for  @message,
                :html => { :class => 'form-horizontal', "data-validate" => :true } do |f| %>
      <%= f.input :name %>
      <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
      <%= f.input :tlf %>
      <%= f.input :email %>
      <div class="control-group">
        <small>Which services you are interested in?</small>
        <%= f.label :service_interest, t("layouts.header.services"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :service_interest %>
        </div>
      </div>
      <div class="control-group">
        <small>Specify the villa you booked and dates.</small>
        <%= f.label :dates, "Villa & Dates", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :dates %>
        </div>
      </div>
      <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
      <div class="actions center">
        <%= f.submit t("messages.new.send"), class: "btn btn-warning" %>
      </div>
  <% end %>
  <script>
    //<![CDATA[
    if(window.ClientSideValidations==undefined)window.ClientSideValidations={};if(window.ClientSideValidations.forms==undefined)window.ClientSideValidations.forms={};window.ClientSideValidations.forms['new_message'] = {"type":"SimpleForm::FormBuilder","error_class":"help-inline","error_tag":"span","wrapper_error_class":"error","wrapper_tag":"div","wrapper_class":"control-group","wrapper":"bootstrap","validators":{"message[name]":{"presence":[{"message":"can't be blank"}]},"message[nickname]":{"format":[{"message":"is invalid","with":/^$/}]},"message[email]":{"presence":[{"message":"can't be blank"}],"format":[{"message":"is invalid","with":/^[-a-z0-9_+\.]+\@([-a-z0-9]+\.)+[a-z0-9]{2,4}$/i}]},"message[content]":{"presence":[{"message":"can't be blank"}],"length":[{"messages":{"minimum":"is too short (minimum is 10 characters)","maximum":"is too long (maximum is 1000 characters)"},"minimum":10,"maximum":1000}]}}};
    //]]>
  </script>
</div>
