<div class="contact-service-form">
  <h3><%= t ".inquire" %> <%= t "layouts.header.services" %></h3>
  <%= simple_form_for  @message, :validate => true,
                :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :name %>
      <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
      <%= f.input :tlf %>
      <%= f.input :email %>
      <div class="control-group">
        <small>Which services you are interested in?</small>
        <%= f.label :service_interest, t("layouts.header.services"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :service_interest %>
        </div>
      </div>
      <div class="control-group">
        <small>Specify the villa you booked and dates.</small>
        <%= f.label :dates, "Villa & Dates", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :dates %>
        </div>
      </div>
      <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
      <div class="actions center">
        <%= f.submit t("messages.new.send"), class: "btn btn-warning" %>
      </div>
  <% end %>
</div>
