<div class="contact-service-form">
  <h3><%= t ".inquire" %> <%= t "layouts.header.services" %></h3>
  <%= form_for  @message,
                :html => { :class => 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :name, t("messages.new.name"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :tlf, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :tlf %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <small>Which services you are interested in?</small>
        <%= f.label :service_interest, t("layouts.header.services"), class: "control-label" %>
        <div class="controls">
          <%= f.text_field :service_interest %>
        </div>
      </div>
      <div class="control-group">
        <small>Specify the villa you booked and dates.</small>
        <%= f.label :dates, "Villa & Dates", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :dates %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :content, t("messages.new.msg"), class: "control-label" %>
        <div class="controls">
          <%= f.text_area :content, :rows => 5 %>
        </div>
      </div>
      <div class="actions center">
        <%= f.submit t("messages.new.send"), class: "btn btn-warning" %>
      </div>
  <% end %>
</div>
