<% provide(:title, t("static_pages.owner.contact")) %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= t "static_pages.owner.contact" %></h1>
    </div>

    <p> <%= t ".gotq" %> <br>
        <%= t ".callus" %>
    </p>
    <p> <strong><%= t ".arebold" %></strong> <%= t ".pleased" %></p>
    <p> <strong><%= t ".homeownerbold" %></strong><br>
      <strong><%= t ".gotbold" %></strong> <%= t ".ownerservice" %>
    </p>
    <p> <%= t ".tolose" %></p>
  </div>
</div>

<div class="row">
  <div class="span12 contact-bg">
    <div class="span5">
      <h4 class="contact-add">Grandes Villas</h4>
      <%= link_to("www.grandesvillas.com", root_path) %><br>
      <address>
        <br>
        Phone: +34 958 330 874 <br>
        Bookings: +34 670 351 054 <br>
        <a href="mailto:rentals@grandesvillas.com">rentals@grandesvillas.com</a>
      </address>

      <address>
        Address:<br>
        C/ Rector Federico Mayor Zaragoza 5, 4-A<br>
        Motril 18613 (Granada)<br>
        España
      </address>
    </div>
    <div class="span5">
      <%= simple_form_for @message,
                   :html => { :class => 'form-horizontal contact-form'},
                   validate: true do |f| %>
          <%= f.input :name %>
          <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
          <%= f.input :email %>
          <%= f.input :tlf %>
          <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
          <div class="actions center">
            <%= f.submit t(".send"), class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails thumb-contact">
      <li class="span4">
        <div class="thumbnail">
          <h3 class="center"><%= link_to @almunecar.name, @almunecar %></h3>
            <%= link_to image_tag("almunecar.jpg",
                                class: 'thumbnail thumb-img-contact'), @almunecar %>
          <p><%= raw truncate(strip_tags(@almunecar.content),
                              :length => 180) %></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <h3 class="center"><%= link_to @motril.name, @motril %></h3>
          <%= link_to image_tag("motril.jpg",
                                class: 'thumbnail thumb-img-contact'), @motril %>
          <p><%= raw truncate(strip_tags(@motril.content),
                              :length => 180) %></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <h3 class="center"><%= link_to @salobrena.name, @salobrena %></h3>
          <%= link_to image_tag("salobrena.jpg",
                                class: 'thumbnail thumb-img-contact'), @salobrena %>
          <p><%= raw truncate(strip_tags(@salobrena.content),
                              :length => 180) %></p>
        </div>
      </li>
    </ul>
  </div>
</div>


