<% provide(:title, t("static_pages.owner.contact")) %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= t "static_pages.owner.contact" %></h1>
    </div>

    <p> <%= t ".gotq" %> <br>
        <%= t ".callus" %>
    </p>
    <p> <strong><%= t ".arebold" %></strong> <%= t ".pleased" %></p>
    <p> <strong><%= t ".homeownerbold" %></strong><br>
      <strong><%= t ".gotbold" %></strong> <%= t ".ownerservice" %>
    </p>
    <p> <%= t ".tolose" %></p>
  </div>
</div>

<div class="row">
  <div class="span12 contact-bg">
    <div class="span5">
      <h4 class="contact-add">Grandes Villas</h4>
      <%= link_to("www.grandesvillas.com", root_path) %><br>
      <address>
        <br>
        Phone: +34 958 330 874 <br>
        Bookings: +34 670 351 054 <br>
        <a href="mailto:rentals@grandesvillas.com">rentals@grandesvillas.com</a>
      </address>

      <address>
        Address:<br>
        C/ Rector Federico Mayor Zaragoza 5, 4-A<br>
        Motril 18613 (Granada)<br>
        España
      </address>
    </div>
    <div class="span5">
      <%= form_for @message,
                   :html => { :class => 'form-horizontal contact-form' } do |f| %>
          <% if @message.errors.any? %>
              <div class="error_messages">
                <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
                <ul>
                  <% @message.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="control-group">
            <%= f.label :name, t(".name"), class: "control-label" %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :dates, t(".dates"), class: "control-label" %>
            <div class="controls">
              <%= f.text_field :dates %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :adults, t(".adults"), class: "control-label" %>
            <div class="controls">
              <%= f.text_field :adults %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :kids, t(".kids"), class: "control-label" %>
            <div class="controls">
              <%= f.text_field :kids %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :content, t(".msg"), class: "control-label" %>
            <div class="controls">
              <%= f.text_area :content, :rows => 5 %>
            </div>
          </div>
          <div class="actions center">
            <%= f.submit t(".send"), class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% unless no_villa? %>
    <div class="row">
      <div class="span12">
        <ul class="thumbnails thumb-contact home-thumb">
          <li class="span4 no-left-margin">
            <div class="thumbnail">
              <h3 class="center"><%= link_to Villa.first.name, "#" %></h3>
              <% if Villa.first.photos.first.image.nil? %>
                <%= link_to image_tag("800x545.gif"), "#" %>
              <% else %>
                  <%= link_to image_tag(Villa.first.photos.first.image.url,
                                        class: 'thumbnail thumb-img-contact'), "#" %>
              <% end %>
              <p><%= raw truncate(strip_tags(Villa.first.content),
                                  :length => 180) %></p>
            </div>
          </li>
    <% unless no_dest? %>
          <li>
            <div class="thumbnail">
              <h3 class="center"><%= link_to Destination.first.name, "#" %></h3>
              <% if Destination.first.dest_image.nil? %>
                  <%= link_to image_tag("800x545.gif"), "#" %>
              <% else %>
                  <%= link_to image_tag(Destination.first.dest_image.url,
                                        class: 'thumbnail thumb-img-contact'), "#" %>
              <% end %>
              <p><%= raw truncate(strip_tags(Destination.first.content),
                                  :length => 180) %></p>
            </div>
          </li>
          <li>
            <div class="thumbnail">
              <h3 class="center"><%= link_to Destination.last.name, "#" %></h3>
              <% if Destination.last.dest_image.nil? %>
                  <%= link_to image_tag("800x545.gif"), "#" %>
              <% else %>
                  <%= link_to image_tag(Destination.last.dest_image.url,
                                        class: 'thumbnail thumb-img-contact'), "#" %>
              <% end %>
              <p><%= raw truncate(strip_tags(Destination.last.content),
                                  :length => 180) %></p>
            </div>
          </li>
    <% end %>
        </ul>
      </div>
    </div>
<% end %>
