<% @villa.tags.build %>
<%= form_for @villa,
             :html => {:multipart => true, :id => "fileupload" }  do |villa_form| %>
    <% if @villa.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@villa.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @villa.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= villa_form.label :name %><br />
      <%= villa_form.text_field :name %>
    </div>

    <!-- Refactor into a partial -->
    <%= villa_form.fields_for :photos do |photo| %>
        <% if photo.object.new_record? %>
            <%= photo.file_field :image %>
        <% else %>
            <%= image_tag(photo.object.image.url(:thumb)) %>
            <%= photo.check_box :_destroy %>
        <% end %>
    <% end %>

    <div class="field">
      <%= villa_form.label :content %><br />
      <%= villa_form.text_area :content %>
    </div>

    <!-- Refactor into a partial
    <div class="field">
      <%= hidden_field_tag "villa[category_ids][]", nil%>
      <% Category.all.each do |category| %>
          <%= check_box_tag "villa[category_ids][]",
                            category.id,
                            @villa.category_ids.include?(category.id),
                            id: dom_id(category)%>
          <%= label_tag dom_id(category), category.name %><br/>
      <% end %>
    </div>
    <!--
    Refactor into a partial -->


    <h2>Tags</h2>
    <%= render :partial => 'tags/form',
               :locals => {:form => villa_form} %>
    <div class="actions">
      <%= villa_form.submit %>
    </div>
<% end %>