<% @villa.tags.build %>
<%= form_for @villa,
             :html => {:multipart => true, :id => "fileupload",
                       :class =>"form-horizontal villa-form" }  do |villa_form| %>
    <% if @villa.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@villa.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @villa.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= villa_form.label :name, class: "control-label" %>
      <%= villa_form.text_field :name %>
    </div>

    <!-- Refactor into a partial -->
    <div class="control-group">
    <%= villa_form.fields_for :photos do |photo| %>
        <% if photo.object.new_record? %>
            <%= photo.file_field :image %>
        <% else %>
            <label class="checkbox">
                <%= image_tag(photo.object.image.url(:thumb)) %>
                <%= photo.check_box :_destroy %>
            </label>
        <% end %>
    <% end %>
    </div>

    <div class="control-group">
      <%= villa_form.label :bedrooms, class: "control-label" %>
      <%= villa_form.text_field :bedrooms %>
    </div>

    <div class="control-group">
      <%= villa_form.label :sleeps, class: "control-label" %>
      <%= villa_form.text_field :sleeps %>
    </div>

    <!--Refactor into a partial -->
    <div class="control-group">
      <div class="controls">
      <%= hidden_field_tag "villa[location_ids][]", nil%>
      <% Location.all.each do |location| %>
          <%= radio_button_tag "villa[location_ids][]",
                               location.id,
                               @villa.location_ids.include?(location.id),
                               id: dom_id(location)%>
          <%= label_tag dom_id(location), location.place,
                        class: "rad-check radio" %>
      <% end %>
        <%= link_to_add_fields "Add Location", villa_form, :locations %>
      </div>
    </div>

    <div class="control-group">
      <%= villa_form.label :address, class: "control-label" %>
      <%= villa_form.text_field :address %>
    </div>

    <div class="control-group">
      <%= villa_form.label :latitude, class: "control-label" %>
      <%= villa_form.text_field :latitude %>
    </div>

    <div class="control-group">
      <%= villa_form.label :longitude, class: "control-label" %>
      <%= villa_form.text_field :longitude %>
    </div>

    <div class="control-group">
      <%= villa_form.label :content, class: "control-label" %>
      <%= villa_form.text_area :content %>
    </div>

    <!--Refactor into a partial -->
    <div class="control-group">
      <div class="controls">
        <%= hidden_field_tag "villa[category_ids][]", nil%>
        <% Category.all.each do |category| %>
            <%= check_box_tag "villa[category_ids][]",
                              category.id,
                              @villa.category_ids.include?(category.id),
                              id: dom_id(category)%>
            <%= label_tag dom_id(category), category.name, class: "cat-check" %>
        <% end %>
      </div>
    </div>

    <%= link_to_add_fields "Add Category", villa_form, :categories %>


    <!--Refactor into a partial -->
    <div class="control-group">
        <%= villa_form.fields_for :rates do |builder| %>
          <%= render 'rate_fields', villa_form: builder %>
        <% end %>
      <div class="controls">
        <%= link_to_add_fields "Add Rates", villa_form, :rates %>
      </div>
    </div>

    <div class="control-group">
      <%= villa_form.label :observations,
                           "Please insert any observations
                               here" %>
      <%= villa_form.text_area :observations %>
    </div>



    <h2>Tags</h2>
    <%= render :partial => 'tags/form',
               :locals => {:form => villa_form} %>
    <div class="actions">
      <%= villa_form.submit %>
    </div>
<% end %>