<%= form_tag villas_path, method: :get do %>
    <div class="span3 no-left-margin">
      <%= select_tag(
                  "q[sleeps]",
                  options_for_select(%w[+2 +4 +6 +8 +10].each_with_index.map {|name, index| [name, name.to_i]}),
                  { prompt: t("villas.index.selectsleep"), selected: params.try(:[], :q).try(:[], :sleeps_gteq) }
          ) %>

      <%= select_tag(
                  "q[bedrooms]",
                  options_for_select(%w[1 2 3 4 5 +6].each_with_index.map {|name, index| [name, name.to_i]}),
                  { :prompt => t("villas.index.selectbed"), selected: params.try(:[], :q).try(:[], :bedrooms_gteq) }
          ) %>

      <%= select_tag(
                  "q[location_id]",
                  options_from_collection_for_select(Location.order(:place).all, :id, :place, params.try(:[], :q).try(:[], :locations_id_eq)),
                  { :prompt => t("villas.index.selecttown") }) %>
    </div>
    <div class="span2">
      <div class="input-append">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <%= text_field_tag "q[start_date]", params[:start_date],
                           "data-behaviour" => "datepicker",
                           placeholder: "Check-in" %>
      </div>
      <div class="input-append">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <%= text_field_tag "q[end_date]", params[:end_date],
                           "data-behaviour" => "datepicker",
                           placeholder: "Check-out" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-info" %>
    </div>
<% end %>
