<% provide(:title, t(".h1")) %>

<div class="page-header">
  <h1><%= t ".h1" %> <small>Subtext for header</small></h1>
</div>

<div class="row">
  <div class="span2">
    <h3 class="pull-right"><%= t ".filter" %>:</h3>
  </div>
  <div class="span3">
    <%= form_tag(villas_path,
                 :method => :get) do %>
        <%= select_tag("location_id",
                       options_from_collection_for_select(Location.all, :id, :place),
                       {:prompt => t(".selecttown"), :onchange => 'submit()'}) %>
    <% end %>
  </div>
  <div class="span3">
    <%= form_tag(villas_path,
                 :method => :get) do %>
        <%= select(:sleeps, :num, Villa.pluck(:sleeps).uniq,
                   {:prompt => t(".selectsleep")},
                   {:onchange => 'submit()'}) %>
    <% end %>
  </div>
  <div class="span3">
    <%= form_tag(villas_path,
                 :method => :get) do %>
        <%= select(:bedrooms, :num, Villa.pluck(:bedrooms).uniq,
                   {:prompt => t(".selectbed")},
                   {:onchange => 'submit()'}) %>
        <%#= submit_tag %>
    <% end %>
  </div>
</div>

<%#= form_tag(villas_path,
             :method => :get) do %>
    <%#= select(:sleeps, :num, Villa.pluck(:sleeps).uniq,
               {:prompt => "Select Sleeps Filter"},
               {:onchange => 'submit()'}) %>
    <%#= submit_tag %>
<%# end %>

<%#= form_tag(villas_path,
             :method => :get) do %>
    <%#= select(:bedrooms, :num, Villa.pluck(:bedrooms).uniq,
               {:prompt => "Select Bedroom Filter"}) %>
    <%#= submit_tag %>
<%# end %>

  <!-- Refactor into a partial -->
  <div class="span12">
    <% @villas.each do |villa| %>
     <div class="villas-index-list thumbnails">
       <div class="row">
         <div class="span3 pull-left">
           <% unless no_image? %>
             <%= link_to image_tag(villa.photos.first.image.url(:thumb),
                                   class: 'thumbnail'), villa %>
           <% else %>
               <%= link_to image_tag("800x545.gif"), villa %>
           <% end %>
         </div>
         <div class="span6">
           <h3><%= link_to villa.name, villa %></h3>
           <% villa.locations.each do |location| %>
               <p class="meta"><%= location.place %></p>
           <% end %>
           <p><%= raw truncate(strip_tags(villa.content), :length => 380) %></p>
         </div>
         <div class="span3">
           <div class="well">
             <h4>Villa Info</h4>
             <ul class="amenities-list-info unstyled">
               <% villa.locations.each do |location| %>
                   <li><%= t ".location" %>: <strong><%= location.place %></strong></li>
               <% end %>
               <li><%= t ".beds" %>: <strong><%= villa.bedrooms %></strong></li>
               <li><%= t ".sleeps" %>: <strong><%= villa.sleeps %></strong></li>
             </ul>
             <% if current_user %>
                 <%= link_to 'Edit', edit_villa_path(villa),
                             class: 'btn btn-primary' %>
                 <%= link_to 'Delete', villa,
                             method: :delete, data: { confirm: 'Are you sure?' },
                             class: 'btn btn-danger' %>
             <% else %>
                 <%= link_to(t(".readmore"), villa,
                             class: 'btn btn-info') %>
             <% end %>
           </div>
         </div>
       </div>
       <hr />
     </div>
     <% end %>
  </div>

<br />

  <% if current_user %>
    <%= link_to 'Create New Villa', new_villa_path,
              class: 'btn btn-warning btn-large' %>
  <% end %>

<% if no_villa? then %>
    <section>
      <br />
      <p>This is the Index page for Villa. There are no Villas at the moment.
        Click 'New Villa' to add one. Once you add a villa or two, click on
        the villa name to navigate to the Villa/Show action. From there you
        may navigate to the Photo Upload feature.<p>
    </section>
<% end %>

<%#S javascript 'jquery.gallreyview-3.0-dev.js' %>
