<% provide(:title, 'Our Holiday Villa Rentals') %>

<div class="page-header">
  <h1>Our Holiday Villa Rentals <small>Subtext for header</small></h1>
</div>

<%= form_tag(villas_path,
             :method => :get) do %>
    <%= select_tag("location_id",
       options_from_collection_for_select(Location.all, :id, :place)) %>
    <%= submit_tag %>
<% end %>

  <!-- Refactor into a partial -->
  <div class="span12">
    <% @villas.each do |villa| %>
     <div class="villas-index-list thumbnails">
       <div class="row">
         <div class="span3 pull-left">
           <%= link_to image_tag(villa.photos.first.image_url(:thumb),
                                 class: 'thumbnail'), villa %>
         </div>
         <div class="span6">
           <h3><%= link_to villa.name, villa %></h3>
           <% villa.locations.each do |location| %>
               <p class="meta"><%= location.place %></p>
           <% end %>
           <p><%= truncate(villa.content, :length => 380) %></p>
         </div>
         <div class="span3">
           <div class="well">
             <h4>Villa Info</h4>
             <ul class="amenities-list-info unstyled">
               <% villa.locations.each do |location| %>
                   <li>Location: <strong><%= location.place %></strong></li>
               <% end %>
               <li>Bedrooms: <strong>test</strong></li>
               <li>Sleeps: <strong>test</strong></li>
             </ul>
             <%= link_to 'Read More About This Villa', villa,
                         class: 'btn btn-info' %>
           </div>
           <%= link_to 'Edit', edit_villa_path(villa),
                       class: 'btn btn-primary' %>
           <%= link_to 'Delete', villa,
                       method: :delete, data: { confirm: 'Are you sure?' },
                       class: 'btn btn-danger' %>
         </div>
       </div>
       <hr />
     </div>
     <% end %>
  </div>

<br />

  <%= link_to 'Create New Villa', new_villa_path,
              class: 'btn btn-warning btn-large' %>

<% if no_villa? then %>
    <section>
      <br />
      <p>This is the Index page for Villa. There are no Villas at the moment.
        Click 'New Villa' to add one. Once you add a villa or two, click on
        the villa name to navigate to the Villa/Show action. From there you
        may navigate to the Photo Upload feature.<p>
    </section>
<% else %>
    <section>
      <br />
      <p>Click on a Villa Name to view/upload photos.<p>
    </section>
<% end %>
