<% provide(:title, @villa.name) %>

<h2 class="villa-h2-bg"> <%= @villa.name %> </h2>

<!-- Refactor into a partial -->
<div class="row">

  <ul class="nav nav-pills">
    <li id="overview" class="active">
      <a href="#overview">Overview</a>
    </li>
    <li>
      <a href="#map-link">Map</a>
    </li>
    <li>
      <a href="#avail">Availability</a>
    </li>
    <li>
      <a href="#rates">Rates</a>
    </li>
  </ul>

  <div class="span9">
    <ul id="gallery">
      <% @villa.photos.each do |photo| %>
          <li><%= image_tag(photo.image.url) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="span3 villa-features">
    <div class="well">
      <ul class="unstyled">
        <% @villa.locations.each do |location| %>
            <li>Location: <strong><%= location.place %></strong></li>
        <% end %>
        <li>Bedrooms: <strong>test</strong></li>
        <li>Sleeps: <strong>test</strong></li>
      </ul>
      <h4 class="orangeText">Villa Features:</h4>
        <% @villa.categories.each do |category| %>
            <div class="span1 darkBlueText">
              <%= category.name %>
            </div>
        <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="span12">
    <p class="lead">Description of <%= @villa.name %>: </p>
    <%= @villa.content %>
  </div>
</div>

<hr />

<div class="row">
  <ul class="nav nav-pills">
    <li>
      <a href="#overview">Overview</a>
    </li>
    <li id="map-link" class="active">
      <a href="#map-link">Map</a>
    </li>
    <li>
      <a href="#avail">Availability</a>
    </li>
    <li>
      <a href="#rates">Rates</a>
    </li>
  </ul>
  <div class="span6">
    <%= gmaps(
                :markers => { :data => @json },
                :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
                                  :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
                                  :zoom => 15 }		# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
        ) %>
  </div>
  <div class="span6">
    CONTACT FORM HERE
  </div>
</div>

<hr />

<div class="row">
    <ul class="nav nav-pills">
      <li>
        <a href="#overview">Overview</a>
      </li>
      <li>
        <a href="#map-link">Map</a>
      </li>
      <li id="avail" class="active">
        <a href="#avail">Availability</a>
      </li>
      <li>
        <a href="#rates">Rates</a>
      </li>
    </ul>
  <div class="span12">
    <!-- Refactor into a partial -->
    <div id="calendar">
      <h2 id="month" class="center">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
      <%= calendar do |date| %>
          <%= date.day %>
      <% end %>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <ul class="nav nav-pills">
    <li>
      <a href="#overview">Overview</a>
    </li>
    <li>
      <a href="#map-link">Map</a>
    </li>
    <li>
      <a href="#avail">Availability</a>
    </li>
    <li id="rates" class="active">
      <a href="#rates">Rates</a>
    </li>
  </ul>
  <div class="span12">
    <!-- Refactor into a partial -->
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th> Villa Rental Season </th>
          <th> Villa Weekly Rate </th>
        </tr>
      </thead>
      <tbody>
        <% @villa.rates.each do |rate| %>
          <tr>
            <td> <%= rate.price_info %> </td>
            <td> <%= rate.price %> &euro; </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>Additional Observations:</p>
    <p><%= @villa.observations %></p>
  </div>
</div>

<hr />

<p>
  <b>Tags:</b>
  <%= join_tags(@villa) %>
</p>

<h2>Comments</h2>
<%= render @villa.comments %>

<%= render "comments/form" %>

<br />


<%= link_to 'Edit', edit_villa_path(@villa) %> |
<%= link_to 'Back', villas_path %>

<%= yield :scripts %>
