<% provide(:title, @villa.name) %>

<h2 class="villa-h2-bg"> <%= @villa.name %> </h2>

<!-- Refactor into a partial -->
<div class="row">

  <ul class="nav nav-pills">
    <li id="overview" class="active">
      <a href="#overview"><%= t ".overview" %></a>
    </li>
    <li>
      <a href="#map-link"><%= t ".map" %></a>
    </li>
    <li>
      <a href="#avail"><%= t ".avail" %></a>
    </li>
    <li>
      <a href="#rates"><%= t ".rates" %></a>
    </li>
  </ul>

  <div class="span9">
    <ul id="gallery">
      <% @villa.photos.each do |photo| %>
          <li><%= image_tag(photo.image.url) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="span3 villa-features">
    <div class="well">
      <ul class="unstyled">
        <% @villa.locations.each do |location| %>
            <li><%= t ".location" %>: <strong><%= location.place %></strong></li>
        <% end %>
        <li><%= t ".beds" %>: <strong><%= @villa.bedrooms %></strong></li>
        <li><%= t ".sleeps" %>: <strong><%= @villa.sleeps %></strong></li>
      </ul>
      <h4 class="orangeText">Villa <%= t ".feature" %>:</h4>
        <% @villa.categories.each do |category| %>
            <div class="span1 darkBlueText">
              <%= category.name %>
            </div>
        <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="span12">
    <p class="lead"><%= t ".descript" %> <%= @villa.name %>: </p>
    <%= raw @villa.content %>
  </div>
</div>

<hr />

<div class="row">
  <ul class="nav nav-pills">
    <li>
      <a href="#overview"><%= t ".overview" %></a>
    </li>
    <li id="map-link" class="active">
      <a href="#map-link"><%= t ".map" %></a>
    </li>
    <li>
      <a href="#avail"><%= t ".avail" %></a>
    </li>
    <li>
      <a href="#rates"><%= t ".rates" %></a>
    </li>
  </ul>
  <div class="span6">
    <%= gmaps(
                :markers => { :data => @json },
                :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
                                  :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
                                  :zoom => 15 }		# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
        ) %>
  </div>
  <div class="span6">
    <%= render 'messages/new' %>
  </div>
</div>

<hr />

<div class="row">
    <ul class="nav nav-pills">
      <li>
        <a href="#overview"><%= t ".overview" %></a>
      </li>
      <li>
        <a href="#map-link"><%= t ".map" %></a>
      </li>
      <li id="avail" class="active">
        <a href="#avail"><%= t ".avail" %></a>
      </li>
      <li>
        <a href="#rates"><%= t ".rates" %></a>
      </li>
    </ul>
    <!-- Refactor into a partial -->
    <div class="span3">
      <h2 class="month" class="center">
        <%= link_to "<", date: @date.months_ago(4) %>
        <%= @date.strftime("%B %Y") %>
      </h2>
      <%= calendar do |date| %>
          <%= date.day %>
      <% end %>
    </div>
    <div class="span3">
      <h2 class="month"><%= @date.months_since(1).strftime("%B %Y") %></h2>
      <%= calendar @date.months_since(1) do |date| %>
          <%= date.day %>
      <% end %>
    </div>
    <div class="span3">
      <h2 class="month"><%= @date.months_since(2).strftime("%B %Y") %></h2>
      <%= calendar @date.months_since(2) do |date| %>
          <%= date.day %>
      <% end %>
    </div>
    <div class="span3">
      <h2 class="month">
        <%= @date.months_since(3).strftime("%B %Y") %>
        <%= link_to ">", date: @date.months_since(4) %>
      </h2>
      <%= calendar @date.months_since(3) do |date| %>
          <%= date.day %>
      <% end %>
    </div>
</div>

<hr />

<div class="row">
  <ul class="nav nav-pills">
    <li>
      <a href="#overview"><%= t ".overview" %></a>
    </li>
    <li>
      <a href="#map-link"><%= t ".map" %></a>
    </li>
    <li>
      <a href="#avail"><%= t ".avail" %></a>
    </li>
    <li id="rates" class="active">
      <a href="#rates"><%= t ".rates" %></a>
    </li>
  </ul>
  <div class="span12">
    <!-- Refactor into a partial -->
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th> <%= t ".rental-season" %> </th>
          <th> <%= t ".weekly-rate" %> </th>
        </tr>
      </thead>
      <tbody>
        <% @villa.rates.each do |rate| %>
          <tr>
            <td> <%= rate.price_info %> </td>
            <td> <%= rate.price %> &euro; </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= t ".observation" %>:</p>
    <p><%= raw @villa.observations %></p>
  </div>
</div>

<hr />

<p>
  <b>Tags:</b>
  <%= join_tags(@villa) %>
</p>

<!-- <h2>Comments</h2>
<%#= render @villa.comments %>

<%#= render "comments/form" %>

<br /> -->

<% if current_user %>
  <%= link_to 'Edit', edit_villa_path(@villa) %> |
<% end %>
<%= link_to 'Back', villas_path %>

<%= yield :scripts %>
