<h1>Editing <%= @admin_photo.imageable_type %></h1>

<%#= render 'form' %>
<p>Edit Language <strong><%= t "villas.form.lang" %></strong></p>
<%= simple_form_for(@admin_photo, :url => admin_photo_path) do |f| %>
    <%= f.error_notification %>
    <%= hidden_field_tag "imageable_type", params[:imageable_type] %>

    <div class="form-inputs">
      <%= f.file_field :image, class: 'controls' %>
      <%= f.input :caption %>
      <%= f.label :photo_link, "URL Link for All Photos", class: "control-label" %>
      <%= f.text_field :photo_link %>
      <%= f.label :photo_link, "Text for Suggestions info only", class: "control-label" %>
      <%= f.text_area :sug_text, :rows => 5 %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<%= link_to 'Show', @admin_photo %> |
<%= link_to 'Back', admin_photos_path %>
