<%= simple_form_for @costa_tropical, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs control-group">
    <%= f.input :title %>
    <%= f.input :city %>
    <%#= f.input :category %>
    <%= f.input :activity %>
    <%= f.file_field :ct_image, class: 'controls' %>
    <%= f.input :content, :as => :ckeditor,
                :label => false, :input_html => { :toolbar => 'Full' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
