<% provide(:title, 'Edit Costa Tropical Item') %>

<div class="page-header">
  <h1><%= t ".edit" %> <%= @costa_tropical.title %> </h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @costa_tropical, class: 'btn' %> |
<%= link_to 'Back', costa_tropicals_path, class: 'btn btn-inverse' %>
