<% provide(:title, 'The Costa Tropical, Granada Spain') %>

<div class="page-header">
  <h1><%= t ".h1" %> <small><%= t ".h1small" %></small></h1>
</div>



<div class="span12">
  <% @costa_tropicals.each do |costa_tropical| %>
      <div class="thumbnails">
        <div class="row">
          <div class="span3 pull-left">
            <%= link_to image_tag(costa_tropical.ct_image_url(:thumb), class: 'thumbnail'), costa_tropical %>
          </div>
          <div class="span6">
            <h3><%= link_to costa_tropical.title, costa_tropical %></h3>
            <p class="meta"><%= costa_tropical.city %></p>
            <p><%= truncate(costa_tropical.content, :length => 380) %></p>
          </div>
          <div class="span3">
            <%= link_to 'Discover More', costa_tropical,
                        class: 'btn btn-info btn-large' %>
            <br />
            <br />
            <%= link_to 'Edit', edit_costa_tropical_path(costa_tropical),
                        class: 'btn btn-primary btn-large' %>
            <%= link_to 'Delete', costa_tropical,
                        method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-danger btn-large' %>
          </div>
        </div>
        <hr />
      </div>
  <% end %>
</div>

<br />

<%= link_to 'New Costa tropical', new_costa_tropical_path,
            class: 'btn btn-warning btn-large' %>
