<div class="pics">
  <% Photo.where(imageable_type: "TopPhoto").each do |photo| %>
    <%= image_tag photo.url, alt: photo.caption %>
  <% end %>
</div>
<div id="nav"></div>
<div class="caption"></div>
<div class="row">
    <div class="villa-home-filter">
      <p class="lead">Search Villas</p>
      <%= render 'villas/index_search' %>
    </div>
</div>
<!-- Refactor into a partial -->
<div class="span12">
  <div class="row">
    <div class="span6 left-5-margin">
      <div class="featured-villas">
        <h2 class="pull-left"><%= t ".feature" %></h2>
        <%= link_to(t(".all"), villas_path) %>
      </div>
      <ul class="thumbnails home-thumb">
        <% @villasf.each do |villa| %>
            <li class="span3">
              <div class="thumbnail">
                <%# if villa.photos.first.image.nil? %>
                    <%= link_to image_tag("800x545.gif"), villa %>
                <%# else %>
                    <%#= link_to image_tag(villa.photos.first.image.url(:thumb),
                                          class: 'thumbnail'), villa %>
                <%# end %>
                <h3><%= link_to villa.name, villa %></h3>
                <ul class="unstyled">
                  <% villa.locations.each do |location| %>
                      <li><%= t "villas.index.location" %>:
                        <strong><%= location.place %></strong></li>
                  <% end %>
                  <li><%= t "villas.index.beds" %>: <strong><%= villa.bedrooms %></strong></li>
                  <li><%= t "villas.index.sleeps" %>: <strong><%= villa.sleeps %></strong></li>
                </ul>
                <!--<p><%#= raw truncate(strip_tags(villa.content), :length => 80) %></p>
            <%#= link_to( t("villas.index.readmore"), villa,
                        class: 'btn btn-info') %> -->
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="span3 suggestions">
      <div class="featured-villas">
        <h2><%#= t ".feature" %>Our Suggestions</h2>
      </div>
      <h4>Romantic Pack testing</h4>
      <%= image_tag("800x545.gif") %>
      <p>Discover the benefits Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
    </div>
    <div class="span3 home-cook">
      <h3>Homecooking Experience</h3>
      <%= image_tag("cook.jpg") %>
      <p class="goldText">Tired of cooking on your holidays?</p>
      <p>Discover our set of meals and specialities.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque.</p>
    </div>
  </div>
  <div class="row services-row">
    <div class="left-5-margin span8 featured-villas">
        <h2 class="pull-left"><%#= t ".feature" %>Services</h2>
        <%= link_to(t(".all"), "#") %>
    </div>
    <div class="span8 services-wrap">
        <div class="services">
          <%= link_to image_tag("services.jpg"), "#" %>
          <ul class="breadcrumb">
            <li><%= link_to "Massages", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Home Cooking", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Laundry", "#" %> <span class="divider">|</span>
              <%= link_to "...", "#" %> </li>
          </ul>
        </div>
    </div>
    <div class="span4 car-rental">
      <%= link_to image_tag("car-rental.jpg"), "#" %>
    </div>
  </div>
  <div class="row special">
    <div class="home-special">
      <% Photo.where(imageable_type: "BottomPhoto").each do |photo| %>
        <%= link_to image_tag(photo.url, alt: photo.caption), "#" %>
      <% end %>
    </div>
  </div>
</div>

<%# javascript 'jquery.cycle.all.js' %>
