<div id="home-slideshow" class="pics">
  <% Photo.where(imageable_type: "TopPhoto").each do |photo| %>
      <%= link_to(image_tag(photo.url, alt: photo.caption), "#{photo.photo_link}") %>
  <% end %>
</div>
<div id="banner"></div>
<div class="caption">
  <p></p>
  <!--<p>Magnificent villas with stunning sea views in
    <span class="orangeText">Almuñécar, Salobreña, Motril and Morocco</span></p>-->
</div>
<div class="row">
    <div class="villa-home-filter">
      <p class="lead"><%= t ".findvilla" %></p>
      <hr />
      <%= render 'villas/index_search' %>
    </div>
</div>
<!-- Refactor into a partial -->
<div class="span12">
  <div class="row">
    <div class="span6 left-5-margin">
      <div class="featured-villas">
        <h2 class="pull-left"><%= t ".feature" %></h2>
        <%= link_to(t(".all"), villas_path) %>
      </div>
      <ul class="thumbnails home-thumb">
        <% @villasf.each do |villa| %>
            <li class="span3">
              <div class="thumbnail">
                <% if villa.photos.first.nil? %>
                    <%= link_to image_tag("800x545.gif"), villa %>
                <% else %>
                    <%= link_to image_tag(villa.photos.first.url(:thumb),
                                          class: 'thumbnail'), villa %>
                <% end %>
                <h3><%= link_to villa.name, villa %></h3>
                <ul class="unstyled">
                  <% villa.locations.each do |location| %>
                      <li><%= t "villas.index.location" %>:
                        <strong><%= location.place %></strong></li>
                  <% end %>
                  <li><%= t "villas.index.beds" %>: <strong><%= villa.bedrooms %></strong></li>
                  <li><%= t "villas.index.sleeps" %>: <strong><%= villa.sleeps %></strong></li>
                </ul>
                <!--<p><%#= raw truncate(strip_tags(villa.content), :length => 80) %></p>
            <%#= link_to( t("villas.index.readmore"), villa,
                        class: 'btn btn-info') %> -->
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="span3 suggestions">
      <div class="sug-nav">
        <a id="prev1" class="pull-left" href="#">&laquo;</a>
        <a id="next1" class="pull-right" href="#">&raquo;</a>
      </div>
      <div class="sug-slideshow">
        <% Photo.where(imageable_type: "SugPhoto").each do |photo| %>
          <div class="sug-slide">
            <div class="featured-villas">
              <h2><%= link_to(t(".suggestions"), "#{photo.photo_link}") %></h2>
            </div>
            <h4><%= photo.caption %></h4>
              <div class="center"><%= link_to(image_tag(photo.url),
                                              "#{photo.photo_link}") %></div>
              <p><%= photo.sug_text %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="span3 home-cook">
      <h3><%= t ".cook" %></h3>
      <%= link_to(image_tag("cook.jpg"), "http://grandesvillas.com/services/servicio-de-cocina") %>
      <p class="orangeText"><%= t ".homecook" %></p>
      <p><%= t ".cooktext" %></p>
    </div>
  </div>
  <div class="row services-row">
    <div class="left-5-margin span4">
      <div class="featured-villas">
        <h2 class="pull-left"><%= t "layouts.header.services" %></h2>
        <%= link_to(t(".all"), services_path) %>
      </div>
      <div class="services-wrap">
        <div class="services-home">
          <%= link_to image_tag("servicesimage.jpg"), services_path,
                      class:"pull-left service-img-home" %>
          <ul class="unstyled pull-right">
            <li><%= link_to(t(".cook"),
                            "http://grandesvillas.com/services/servicio-de-cocina") %>
            </li>
            <li><%= link_to "Fridge Filling",
                            "http://grandesvillas.com/services/fridge-filling-service" %>
            </li>
            <li><%= link_to(t(".massages"),
                             "http://grandesvillas.com/services/spa-massages") %>
            </li>
            <li><%= link_to "Surf",
                            "http://grandesvillas.com/services/surf" %>
            </li>
            <li><%= link_to "Golf", "http://grandesvillas.com/services/golf" %>
            </li>
            <li>
              <%= link_to(t(".all"), services_path,
                          class: 'btn btn-warning')  %>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="span4 youtube-home">
       <h2>Grandes Villas Youtube Channel</h2>
    </div>
    <div class="span4 left-5-margin">
      <iframe frameborder="0" style="height: 260px; width: 320px; border-width: 1px;
              border-style: solid; border-color: #065471;"
              src="http://www.carhireengine.co.uk/carhireengine/carhireengine.web.servlets.CarHireEngineSearchControlServlet?affiliate=grandesvillas&dm=1&fv=1&pagebm=1px&pagebg=white&formtbp=1px&formlm=auto&formrm=auto&formbg=%23ffffff&formrc=none&formt=_parent&titlet=Car%20Hire&titlea=center&titlefc=%23025f7d&titleff=Arial%2C%20Helvetica&titlefs=18px&titleb=bold&titleu=none&labelsva=middle&labelsha=right&labelsfc=black&labelsff=Arial%2C%20Helvetica&labelsfs=12px&inputsfc=025f7d&inputsff=Arial%2C%20Helvetica&inputsfs=13px&submittype=button&submitfc=black&submitff=Arial%2C%20Helvetica&submitfs=18px&pickupsearchscope=world&autosuggesthc=%233398CC&carclass=all&trackcode=">

              </iframe>
    </div>
  </div>
  <div class="row special">
    <div class="home-special">
      <% Photo.where(imageable_type: "BottomPhoto").each do |photo| %>
        <%= link_to image_tag(photo.url), "#{photo.photo_link}" %>
      <% end %>
    </div>
  </div>
</div>

<%# javascript 'jquery.cycle.all.js' %>
