<div class="pics">
  <img src="http://www.grandesvillas.com/images/slider_images/slider_image_67.jpg" />
  <img src="http://www.grandesvillas.com/images/slider_images/slider_image_66.jpg" />
  <img src="http://www.grandesvillas.com/images/slider_images/slider_image_60.jpg" />
</div>
<div class="row">
    <div class="villa-home-filter">
      <p class="lead">Search Villas</p>
      <%= form_tag(villas_path,
                   :method => :get) do %>
          <%= select_tag("location_id",
                         options_from_collection_for_select(Location.all, :id, :place),
                         {:prompt => t("villas.index.selecttown"), :onchange => 'submit()'}) %>
      <% end %>
      <%= form_tag(villas_path,
                   :method => :get) do %>
          <%= select(:sleeps, :num, Villa.pluck(:sleeps).uniq,
                     {:prompt => t("villas.index.selectsleep")},
                     {:onchange => 'submit()'}) %>
      <% end %>
      <%= form_tag(villas_path,
                   :method => :get) do %>
          <%= select(:bedrooms, :num, Villa.pluck(:bedrooms).uniq,
                     {:prompt => t("villas.index.selectbed")},
                     {:onchange => 'submit()'}) %>
      <% end %>
    </div>
</div>
<!-- Refactor into a partial -->
<div class="span12">
  <div class="row featured-villas">
    <h2 class="pull-left"><%= t ".feature" %></h2>
    <%= link_to(t(".all"), villas_path) %>
  </div>
  <ul class="thumbnails home-thumb">
    <% @villas.each do |villa| %>
        <li class="span3">
          <div class="thumbnail">
            <% if villa.photos.first.image.nil? %>
                <%= link_to image_tag("800x545.gif"), villa %>
            <% else %>
                <%= link_to image_tag(villa.photos.first.image.url(:thumb),
                                      class: 'thumbnail'), villa %>
            <% end %>
            <h3><%= link_to villa.name, villa %></h3>
            <ul class="unstyled">
              <% villa.locations.each do |location| %>
                  <li><%= t "villas.index.location" %>:
                    <strong><%= location.place %></strong></li>
              <% end %>
              <li><%= t "villas.index.beds" %>: <strong><%= villa.bedrooms %></strong></li>
              <li><%= t "villas.index.sleeps" %>: <strong><%= villa.sleeps %></strong></li>
            </ul>
            <p><%= raw truncate(strip_tags(villa.content), :length => 80) %></p>
            <%= link_to( t("villas.index.readmore"), villa,
                        class: 'btn btn-info') %>
          </div>
        </li>
    <% end %>
  </ul>
  <div class="row">
    <div class="no-left-margin span8 featured-villas">
      <div class="span4 no-left-margin">
        <h2 class="pull-left"><%#= t ".feature" %>Services</h2>
        <%= link_to(t(".all"), "#") %>
      </div>
      <div class="span4">
        <h2 class="pull-left"><%#= t ".feature" %>Activities</h2>
        <%= link_to(t(".all"), "#") %>
      </div>
    </div>
    <div class="no-left-margin span8 services-wrap">
      <div class="span4 no-left-margin">
        <div class="services">
          <%= link_to image_tag("massage.jpg"), "#" %>
          <ul class="breadcrumb">
            <li><%= link_to "Massages", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Home Cooking", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Laundry", "#" %> <span class="divider">|</span>
              <%= link_to "...", "#" %> </li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <div class="services">
          <%= link_to image_tag("golf.jpg"), "#" %>
          <ul class="breadcrumb">
            <li><%= link_to "Golf", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Surfing", "#" %> <span class="divider">|</span></li>
            <li><%= link_to "Diving", "#" %> <span class="divider">|</span>
              <%= link_to "...", "#" %> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4 car-rental">
      <%= link_to image_tag("car-rental.jpg"), "#" %>
    </div>
  </div>
  <div class="row special">
    <div class="home-special">
      <%= link_to image_tag("paella.jpg"), "#" %>
      <%= link_to image_tag("paella.jpg"), "#" %>
      <%= link_to image_tag("paella.jpg"), "#" %>
    </div>
  </div>
</div>

<%# javascript 'jquery.cycle.all.js' %>
