<%= simple_form_for @destination,
                    :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs control-group">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
      <% @destination.build_dest_image %>
      <%= f.simple_fields_for :dest_image do |ff| %>
        <%= ff.file_field :image, class: 'controls' %>
      <% end %>
      <%= f.input :content, :as => :ckeditor,
                  :label => false, :input_html => { :toolbar => 'Full' } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
