<div class="page-header">
  <h1><%= t "villas.form.edit" %> Destination</h1>
</div>

<p><%= t "villas.form.edit" %> <%= t "villas.form.lang" %></p>

<%= render 'form' %>

<%= link_to 'Show', @destination %> |
<%= link_to 'Back', destinations_path %>
