<% provide(:title, @destination.name ) %>

<div class="destination-show">
  <% unless @destination.dest_image.nil? %>
      <%= image_tag(@destination.dest_image.url, class: 'dest-img') %>
  <% end %>
  <div class="span12">
    <div class="page-header">
      <h1> <%= @destination.name %> </h1>
    </div>
    <div class="dest-content">
      <%= raw @destination.content %>
    </div>
    <div class="dest-info-links">
        <ul class="unstyled">
          <li class="pull-left">
            <%= link_to "Villas in #{@destination.name}", villas_path,
                        class:"btn btn-info pull-right" %>
          </li>
          <li class="pull-right">
            <%= link_to "Services in #{@destination.name}", services_path,
                        class:"btn btn-info pull-right" %>
          </li>
        </ul>
      <div class="clear"></div>
    </div>
    <%= gmaps(
                :markers => { :data => @json },
                :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
                                  :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
                                  :zoom => 15 }		# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
        ) %>
  </div>
  <div class="bottom-pics">
    <% [@imgs, @urls].transpose.sample(3).each do |img, url| %>
      <div class="span4">
        <%= link_to image_tag("destination_btm/#{img}"),
                    "#{root_path(:locale => I18n.locale)}/#{url}" %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>


<% if current_user %>
    <%= link_to 'Edit', edit_destination_path(@destination), class: 'btn btn-primary' %> |
<% end %>
<%= link_to(t(".back"), destinations_path, class: 'btn') %>

<%= yield :scripts %>

