<%= simple_form_for @activity, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :activity %>
    <%= f.input :content %>
  </div>

    <p>
      <label>My Avatar</label>
      <%= image_tag(@activity.activity_image_url) if @activity.activity_image? %>
      <%= f.file_field :activity_image %>
    </p>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
