<footer class="footer">
  <div class="container">
    <div class="row">
      <nav>
        <ul class="nav nav-pills pull-left">
          <li><%= link_to("Rentals Villas in Spain", villas_path) %></li>
          <li><%= link_to(t("layouts.header.destination"), destinations_path) %></li>
          <li><%= link_to(t("layouts.header.services"), services_path) %></li>
          <li><%= link_to(t("layouts.header.contact"), contact_path) %></li>
          <li><%= link_to(t("layouts.header.about"), about_path) %></li>
          <li><%= link_to("Blog", posts_path) %></li>
          <li><%= link_to(t("layouts.header.home"), root_path) %></li>
        </ul>
      </nav>
      <%= link_to image_tag("footer_logo.gif"), root_path, id: "footer-logo" %>
    </div>

    <div class="row footer-villa-links">
      <div class="span3 no-left-margin">
        <ul class="unstyled">
          <li>
            <%= link_to "Villas in Almunecar",
                        search_villas_seo_path(location_id: 1,
                                               location_name: "almunecar") %>
          </li>
          <li>
            <%= link_to "Villas in La Herradura",
                        search_villas_seo_path(location_id: 5,
                                               location_name: "la-herradura") %>
          </li>
          <li><%= link_to "Villas in Las Alpujarras",
                          search_villas_seo_path(location_id: 3,
                                                 location_name: "las-alpujarras") %>
          </li>
          <li><%= link_to "Villas in Motril",
                          search_villas_seo_path(location_id: 4,
                                                 location_name: "motril") %>
          </li>
          <li><%= link_to "Villas in La Salobrena",
                          search_villas_seo_path(location_id: 2,
                                                 location_name: "salobrena") %>
          </li>
        </ul>
      </div>
      <div class="span3 no-left-margin">
        <ul class="unstyled">
          <li>
            <%= link_to("6+ #{t("villas.index.beds")} Villas", root_url+"/villas/in---6--") %>
          </li>
          <li>
            <%= link_to("5+ #{t("villas.index.beds")} Villas", root_url+"/villas/in---5--") %>
          </li>
          <li>
            <%= link_to("4+ #{t("villas.index.beds")} Villas", root_url+"/villas/in---4--") %>
          </li>
          <li>
            <%= link_to("3+ #{t("villas.index.beds")} Villas", root_url+"/villas/in---3--") %>
          </li>
          <li>
            <%= link_to("2+ #{t("villas.index.beds")} Villas", root_url+"/villas/in---2--") %>
          </li>
        </ul>
      </div>
      <div class="span3 no-left-margin">
        <ul class="unstyled">
          <li><%= link_to("#{t("home.index.discover")} Costa Tropical", destinations_path) %></li>
          <li><%= link_to("#{t("home.index.discover")} Salobreña", destinations_path+"/salobrena") %></li>
          <li><%= link_to("#{t("home.index.discover")} Motril", destinations_path+"/motril") %></li>
          <li><%= link_to("#{t("home.index.discover")} Alumñécar", destinations_path+"/almunecar") %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <small>
        <%= link_to "Hyra villa privat | Villa Spanien Hyra", villas_path %> | Use of this Web site constitutes
        acceptance of the GrandesVillas.com Terms & Conditions and Privacy Policy.

        <br />
        &copy; Copyright 2012 - Present GrandesVillas. All rights reserved.|
        <%= link_to "Hyra villa privat | Villa Spanien Hyra", villas_path %>
      </small>
    </div>
  </div>
</footer>

<!--
<div id="contact-sidebar">
  <%#= link_to("Quick Message", contact_path, class: "support") %>
</div> -->

<div id="feedback">
  <%#= render 'messages/feedback', :locals => {:message => new_message} %>
  <%= link_to "Contact Information", contact_path, class: "pull_feedback" %>
</div>

<!-- <script type="text/javascript">
   // $(document).ready(function(){
   //     jQuery(".pull_feedback").toggle(function(){
   //                 jQuery("#feedback").animate({right:"0px"});
   //                 return false;
   //             },
   //             function(){
   //                 jQuery("#feedback").animate({right:"-325px"});
   //                 return false;
   //             }
   //     ); //toggle
   // }); //document.ready
</script>  -->

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38254549-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
