<footer class="footer">
  <div class="container">
    <nav>
      <ul class="nav nav-pills pull-left">
        <li><%= link_to(t(".home"), root_path) %></li>
        <li><%= link_to(t(".villa"), villas_path) %></li>
        <li><%= link_to(t(".costa"), costa_tropicals_path) %></li>
        <li><%= link_to(t(".contact"), contact_path) %></li>
        <li><%= link_to(t(".prop"), owner_path) %></li>
        <li><%= link_to(t(".about"), about_path) %></li>
      </ul>
    </nav>
    <%= link_to image_tag("footer_logo.gif"), root_path, id: "footer-logo" %>

    <% unless no_villa? %>
      <ul class="unstyled pull-left nav-footer">
        <% @villas.each do |villa| %>
          <li class="span2">
            <%= link_to villa.name, villa %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%# unless no_costa? %>
        <!--<ul class="unstyled pull-left nav-footer">
          <%# @costa_tropicals.each do |costa| %>
              <li class="span2">
                <%#= link_to costa.title, costa %>
              </li>
          <%# end %>
        </ul> -->
    <%# end %>
    <small>
      Use of this Web site constitutes acceptance of the GrandesVillas.com
      Terms & Conditions and Privacy Policy.
      <br />
      © Copyright 2012 -Present GrandesVillas. All rights reserved.
    </small>

  </div>
</footer>