<footer class="footer">
  <div class="container">
    <nav>
      <ul class="nav nav-pills pull-left">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Rent a Villa", villas_path %></li>
        <li><%= link_to "Costa Tropical", '#' %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Rent Your Property", owner_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    <%= link_to image_tag("footer_logo.gif"), root_path, id: "footer-logo" %>
    <small>
      Use of this Web site constitutes acceptance of the GrandesVillas.com
      Terms & Conditions and Privacy Policy.
      <br />
      © Copyright 2012 -Present GrandesVillas. All rights reserved.
    </small>

  </div>
</footer>